<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>867894218296-6kijecbgpljnvo1kui80rhm0ofv71740.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867894218296-6kijecbgpljnvo1kui80rhm0ofv71740</string>
	<key>API_KEY</key>
	<string>AIzaSyD7v_9oWl40emtGPgGVp_VskstcZII4eac</string>
	<key>GCM_SENDER_ID</key>
	<string>867894218296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ampedforce.heartfailurehelper</string>
	<key>PROJECT_ID</key>
	<string>hearthelper-af</string>
	<key>STORAGE_BUCKET</key>
	<string>hearthelper-af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867894218296:ios:3ce54d8d8ade4ced</string>
	<key>DATABASE_URL</key>
	<string>https://hearthelper-af.firebaseio.com</string>
</dict>
</plist>